@media screen  and (min-width: 720px) {
    .wrapper {
        width: 1440px;
        height: 1024px;
    }

    .drakula {
        text-shadow: 1px 1px 1px black, 0 0 0.5em red;
        font-size: 36px;
    }

    .main {
        margin-top: 347px;
    }

    .opis {
        font-size: 32px;

    }

    .menu__btn {
        display: none;
    }

    #search_btn {
        display: none;
    }

    .nav {
        padding-top: 80px;
        width: 75%;
    }

    .left {
        margin-right: 74px;
    }

    #info_btn {
        width: 65px;
        height: 55px;
    }

    .brg_t {
        display: flex;
        width: 481px;
        justify-content: space-between;
        margin-left: 57.91066%;
    }

    .href_main {
        font-size: 24px;
        font-family: 'Cormorant SC';        
        text-decoration: none;
        letter-spacing: 0.38px;
        font-weight: 700;
        color: #780000;
    }

    /*###################################################*/
    .wrapper2 {
        width: 1440px;
        height: 1024px;
    }

    .novost {
        padding-top: 92px;
        font-size: 32px;
        text-shadow: 1px 1px 1px black, 0 0 0.5em red;
    }

    #del {
        opacity: 0;
    }

    .kvadrat {
        width: 137px;
        height: 135px;
    }

    #cont_m {
        width: 1440px;
        height: 465px;
        display: flex;
        justify-content: space-between;
        margin-top: 105px;
    }

    .container {
        margin-left: 0;
        margin-top: 0;
        height: 465px;
    }

    #del_2 {
        opacity: 100%;
        margin-right: 126px;
    }

    .flex2 p {
        font-size: 24px;
    }

    .flex2 {
        padding-top: 30px;
    }

    .text {
        margin-left: 56px;
    }

    .but {
        width: 105px;
        height: 29px;
        border-radius: 13px;
        margin: 0 auto;
        margin-top: 110px;
    }

    .but p {

        line-height: 1.85;

    }

    #marg_1 {
        margin-left: 126px;
    }

    #marg_2 {
        margin-right: 126px;
    }
    .title{
        font-size: 32px;
        padding-top: 92px;

    }
    .cards{
        width:700px;
    }
    .card_image{
        width:300px;
        height:200px;
    }
    .card_title{
        font-size:20px;
        font-weight: bold;
    }
    .card_text{
        font-size:20px;
        font-weight: bold;
    }
    .special_blocks{
        margin-top:50px;
      
    }
    .special_block{
        width: 200px;
    }
    .special_circle{
        width: 200px;
        height: 250px;
      
        background: #d9d9d9;
        
    }
    .special_text{
    font-size: 20px;
    padding-bottom: 100px;
    font-weight: bold;
    }
    
}